---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/x-icon" href="./favicon.svg" />
    </head>
    <body>
        <slot />
    </body>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

        body {
            background: linear-gradient(-45deg, #3e0404, #132843, #295374);
            background-size: 400% 400%;
            animation: gradient 15s ease infinite;
            height: 100vh;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 0%;
            }
            20% {
                background-position: 50% 25%;
            }
            40% {
                background-position: 80% 35%;
            }
            60% {
                background-position: 100% 50%;
            }
            80% {
                background-position: 50% 25%;
            }
            100% {
                background-position: 0% 0%;
            }
        }

        html {
            background: #132843; /* fallback for old browsers */
            background: -webkit-linear-gradient(
                to right,
                #132843,
                #173d52
            ); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(
                to right,
                #132843,
                #173d52
            ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            font-family: "Space Mono", monospace;
            font-weight: 400;
        }
    </style>
</html>
